*{
    padding: 0;
 margin: 0;
 box-sizing: border-box;
}
    h1{
        position:relative;
        text-align: center;
    }
    .container{
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 90px;
        justify-content: space-around;
        align-items: center;
       background-color: #058aa1;
    }
    .logo img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .search input{
        border-radius: 10px;
        border:none;
        padding: 20px 50px;
    }
     nav a{
        margin: 0px 15px;
        text-decoration: none;
        color:#fff;
        font-size: 18px;
     }
     .button{
        border-radius: 10px;

     }
img{
    border-radius: 30px;
}
nav{
    display: flex;
}
li{
    text-decoration: none;
    list-style: none;
}
nav li a{
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.SignIn{
    margin: 10px;
font-size: 20px;
background-color:rgb(36, 121, 133)
cursor: pointer;
}
.SignOut{
    margin: 10px;
    font-size: 20px;
    background-color:rgb(36, 121, 133)
   cursor: pointer;
}