* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #058aa1;
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.search input {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

.search input:focus {
    border: transparent;
}

nav a {
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.button {
    border-radius: 10px;

}

img {
    border-radius: 30px;
}

nav {
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
}

nav li a {
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.signin {
    background-color: #d63c3c;
    border-radius: 10px;
    padding: 8px 30px;
    border: none;
    color: white;
    box-shadow: 0px 3px 5px 0px rgba(110, 6, 6, 0.75);
}

.signin:hover {
    background-color: white;
    color: black;
}