h1{
position: relative;
text-align: center;
}
body{
    font-family, helvetica, sana-serif;
    background-color: #cde6fc;
}
.container{
    display: flex;
    width: 200%;
    border: 2px solid red;
    flex-direction: row;
    height: 120px;
justify-content: space-between;
align-items: center;
background-color: #058aa1;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
img{
    border-radius:20px;
}
nav{
    display:flex;
}
li{
    list-style: none;
}
.search input{
    border-radius: 30px;
    border:none;
    padding: 10px 10px;
    font-size:20px 
    border: 1px solid white;
}
nav li a{
    margin: 10px 15px;
    text-decoration: none;
    color:white;
    font-size:18px;
}
.sigin{
    margin:10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #079191;
    cursor:pointer;
    font-weight: bold;
}
.sigin:hover{
    border:#058aa1;
    font-size: medium;
    cursor: pointer;
    background-color: #1f96ac;6
}.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: Time new roman;
    width: 200px;
    height:40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top:13px ;
    color:#fff;
    border-right:none;
    font-size:16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    margin-top:13px;
    color:#fff;
    font-size:15px;
    border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}
.content{
    width:1200px;
    height: auto;
    margin:auto;
    color: #fff;
    position:relative;
}
.content.par{
    padding-left:20px;
    padding-bottom:25px;
    font-family:arial;
    letter-spacing:1.2px;
    line-height:30px;
}