#contact-us{
    height:400px;
    background-color:rgb(red, green, blue)
}
.form-message-container{
    font-weight: bold;
    width: 50%;
    background: rgb(6,84,170);
    background: linear-gradient(90deg, rgba(6,84,170,1) 0%, rgba(2,161,250,1) 53%, rgba(0,212,255,1) 83%);
    height: 300px;
    padding: 100px;
}

.form-container{
    display: flex;
    flex-direction: row;
    padding:10px 20px;

}
form{
    display: flex;
    flex-direction: column;
    height: 300px;
    background:linear-gradient(#ffffffde,#ffffffa5) ;
    padding: 50px;
}
.form-message-container p{
    font-weight: bolder;
    font-size: medium;

}
.form-message-container h1{
    font-size: xx-large;
}
form>*{
    padding: 10px;
}