#foot{
    background: linear-gradient(135deg, #00d5ff 0%, #022a3e 100%);
   height: 50vh;
   }
    .services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   .features{
    color: aliceblue;
    align-items: center;
    /* display: flex;
    flex-direction: column; */
   }
   .features ul{
    display: flex;
    flex-direction: column;
   }
   .lgo{
    display: flex;
    flex-direction: row;
   }
    .lgo h3{
      color: rgb(0, 71, 133);o;
    margin-top: 40px;
    /* padding-top: 20px; */
   }
   .cont .lgo img{
    width: 60px;
    height: 60px;
    margin: 20px;
   }
   hr {
    width: 1200px;
    height: 5px; /* Specify height if using size attribute */
    background-color: aliceblue;
    border: none; /* Remove default border */
    margin: 0 auto; /* Center horizontally */
    margin-top: 30px;
    border-radius: 5px;
  }
  .cont .icons1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    max-width: 500px;
    
  }
  .cont .icons i{
    
  }