#why-us {
    height: 100vh;
    background-color: rgb(153, 74, 87);
}

.whyus-container {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;

}

.box-height {
    height: calc(100vh/2);

}

.box-style>* {
    padding: 18px 12px;
}
.box-style i{
    font-size: 48px;
    color: pink;
}
.why-us-box-5-6-container {
    display: flex;
}
.why-us-box1{
background-color: rgb(3,88,60);
}
.why-us-box2{
background-color: white;
color: black;
}
.why-us-box4{
background-color: white;
color: black;
text-align: right;
padding: 12px 0px;
}
.why-us-box5{
    width: 50%;
background-color: rgb(3,88,60);
}
.why-us-box6{
    width: 50%;
    background-color: black;
}
.why-us-box3 img{
    height: 100vh;
    width: 500px;
    object-fit: cover;
}
.why-us-box-4-5-6-container{
width: 100%;
}
.why-us-box-1-2-container{
    width: 50%;
}