#whyus{
    height: 78vh;
    margin:none;
    background-color:white;
}
.why-us{
    display: flex;
    flex-direction: row;
    
}
.image{
   
}
.image img{
    height: 609px;
    width: 100%;
    display: flex;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    
}
.left-why{
    display: flex;
    flex-direction: column;
}

.lefttop{
    background-color: rgb(8, 73, 8);
    display: flex;
    flex-direction: column;
    
    height: 280px;
    width: 400px;
}
.lefttop i{
    margin-top: 20px;
    margin-left: 12px;
    padding: 8px;
}
.lefttop p{
    color: white;
    font-size: 1em;
    padding: 12px;
    margin-right: 3px;
}
.lefttop h1{
    font-size: 2em;
    font: bold;
    padding: 8px;
    color: white;
    


}
.leftdown{
   
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 400px;
}

.leftdown h1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 2em;
    font: bold;
    padding: 10px;
    
    

}
.leftdown i{
    margin-top: 30px;
    padding: 20px;
    margin-bottom: -90px;
}
.leftdown p{
    font-size: 1em;
    padding: 12px 8px;
    margin-right: 3px;
}
.right{
    display: flex;
    flex-direction: column;
}

.col{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;

}
.righttop{
    height: 300px;
    
}
.righttop h1{
    font-size: 2em;
    display: flex;
    text-align: right;
    flex-direction: column;
    padding: 12px;

}
.righttop h2{
font-size: 2em;
display: flex;
text-align: right;
padding: 12px;
flex-direction: column;
margin-top: -30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.righttop h3{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: right;
    margin-top: -12px;

}
.righttop p{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: auto;
    font-size: 1em;
    
}
.right2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.r1{
    display: flex;
    flex-direction: column;
    width:80%;
    height:39.5vh;
    background-color: green;
    padding-left: 30px;

}
.r1 i{
    margin-top: 8px;
    padding: 12px;
}
 .r1 h1{
    font-size: 2em;
    padding: 8px;

 }

/* 

.down{
    display: flex;
    flex-direction: row;
  
    
}
.rightdown{
    background-color: green;
     width: 250px;
    height: 38vh;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
 
}
 .rightdown1 h1{
    font-size: 2em;
    padding: 12px;
 }

*/